<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/blog.css"/>
</head>
<body>

<!--menu bar  starts(header)-->
	<div id="header"> 
	</div>
  
  
 
<!--menu bar  ends (header)-->

<!-- vertical menu bar  starts-->
<div class="container-fluid">
<div class="row content ">
    
	<div class="col-sm-3 sidenav" id="vbar">
    </div>

	
	<div class="col-sm-9 mainContainer"  >
	
		<div ng-app="myApp" ng-controller="myCtrl"> 
		<h4>JSON object in table format </h4> <br/>
	<button ng-click="myFunction()" class="btn btn-primary">Click Here!</button>
	<button onclick="window.location.reload()" class="btn btn-primary">Refresh</button>
	<br/><br/><br/>
			
			
			<table class="table table-striped" >
				<thead >
						<tr>
							<th>ID</th>
							<th>NAME</th>
   						</tr>
				</thead>
				<tbody>
						<tr ng-repeat="x in info">
							<td> {{x.Id}}</td>
							<td>{{x.Name}}</td>
						</tr>
      
				</tbody>
		</table>
			<h1> {{error}}</h1>
			
		</div>
	</div>
</div>


	




</div>
<!-- vertical menu bar  ends-->

</body>
<script>
$(function(){
$('#header').load("header.html");
$('#vbar').load("vbar.html");
});
</script>
<script src="js/blogapp.js"> </script>
<script src="js/blogctrl.js"> </script>


  
</html>
